openapi: 3.1.0
info:
  title: KnowledgeBot API
  description: |-
    This is the API for the Knowledgebot.
  termsOfService: http://swagger.io/terms/
  contact:
    email: rkrishnasanka@gmail.com
  license:
    name: Copyright CED Clinic 2023
    url: "http://tba.io"
  version: "2.0"
externalDocs:
  description: External Docs
  url: http://tbawiki.io
servers:
  - url: "https://tba.io"
tags:
  - name: Chatbot
    description: All the Chatbot orchestration
    externalDocs:
      description: Find out more
      url: http://tba
  - name: Authentication
    description: Operations about authentication
    externalDocs:
      description: Find out more
      url: http://tba
  - name: User
    description: User information stored on the server
    externalDocs:
      description: Find out more
      url: http://tba
  - name: Library
    description: Operations about library files
    externalDocs:
      description: Find out more about our store
      url: http://tba.io
paths:
  /user:
    get:
      summary: Get user information
      description: Get user information
      operationId: getUser
      tags:
        - User
      security:
        - bearerAuth: [read]
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '404':
          description: User not found
        '405':
          description: Validation exception
    put:
      summary: Update user information
      description: Update user information
      operationId: updateUser
      tags:
        - User
      security:
        - bearerAuth: [write]
      requestBody:
        description: Update user information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInfoInput'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: User not found
        '405':
          description: Validation exception
  /register:
    post:
      tags:
      - Authentication
      summary: Register a new user
      description: Register a new user
      operationId: registerUser
      requestBody:
        description: Register a new user
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterInput'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: User not found
        '405':
          description: Validation exception
  /login:
    post:
      tags:
      - Authentication
      summary: Login a user
      description: Login a user
      operationId: loginUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInput'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: User not found
        '405':
          description: Validation exception
  /changepassword:
    post:
      tags:
      - Authentication
      summary: Change password
      description: Change password
      operationId: changePassword
      security:
        - bearerAuth: [write]
      requestBody:
        description: Change password
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePasswordInput'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: User not found
        '405':
          description: Validation exception
  /file:
    description: Operations about file object properties
    get:
      tags:
      - File
      summary: Get file information
      description: Get file information
      operationId: getFile
      security:
        - bearerAuth: [read]
      requestBody:
        description: Get file information
        content:
          application/json:
            schema: 
              type: object
              properties:
                file_id:
                  type: string
                  description: Unique file object id
                  example: "unique_file_object_id"
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '404':
          description: File not found
        '405':
          description: Validation exception
components:
  schemas:
    UserResponse:
      type: object
      properties:
        user_id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        workspaces:
          type: array
          items:
            type: string
        jobs:
          type: array
          items:
            type: string
    FileResponse:
      type: object
      properties: 
        file_id:
          type: string
        file_name:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        s3_path:
          type: string
        file_extension:
          type: string
    RegisterInput:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        password:
          type: string
      required: [email, password, first_name, last_name]
    LoginInput:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
      required: [email, password]
    UserInfoInput:
      type: object
      properties:
        user_id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
      required: [user_id, first_name, last_name, email]
    UpdatePasswordInput:
      type: object
      properties:
        user_id:
          type: string
        old_password:
          type: string
        new_password:
          type: string
      required: [user_id, old_password, new_password]
    FilePropertiesUpdateInput:
      type: object
      properties:
        file_id:
          type: string
        file_name:
          type: string
      required: [file_id, file_name]
    
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT  
    api_key:
      type: apiKey
      name: api_key
      in: header